.wrapper {
  max-width: 1366px;
  margin: 0 auto;
}
.title {
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  font-weight: 600;
}

.category {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.category_item {
  background-color: #e3e6e9;
  padding: 6px;
  border-radius: 6px;
  text-align: center;
}

.article_container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.article_name_container {
  /* display: flex;
  align-items: center; */
  gap: 5px;
}
.article_item {
  display: inline-grid;
  background-color: #f6f7f8;
  justify-content: center;
  transition: 0.2s;
  cursor: pointer;
}
.article_item:hover {
  box-shadow: 6px 6px 29px 0px rgba(191, 191, 191, 1);
}
.article_additional {
  display: flex;
  border-top: 1px solid #e3e6e9;
  align-items: center;
}
.article_name {
  font-weight: 600;
}
.article_image {
  width: 60%;
  border: 1px solid #e3e6e9;
}
.article_main {
  display: flex;
  padding: 6px;
  gap: 10px;
}
.article_additional_text {
  padding: 6px;
}
.sidebar {
  padding: 12px;
  background-color: #f6f7f8;
}
.sidebar_category {
  display: grid;
  grid-gap: 20px;
  margin-top: 20px;
}
.sidebar_category_item {
  padding: 6px;
  border-radius: 6px;
  text-align: center;
  background-color: gainsboro;
}
.sidebar_title {
  text-align: center;
}
.sidebar_slider {
  width: 100%;
}
.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 30px;
  margin-top: 20px;
}
@media screen and (max-width: 1200px) {
  .container {
    display: block;
    gap: 0;
  }
  .article_image {
    width: 100%;
  }
  .sidebar {
    display: none;
  }
  .article_additional {
    display: none;
  }
  .article_main {
    display: block;
  }
  .article_name_container {
    display: flex;
  }
}
@media screen and (max-width: 730px) {
  .title {
    font-size: 28px;
    line-height: 36px;
  }
  .category {
    grid-template-columns: repeat(2, 1fr);
  }
  .article_container {
    grid-template-columns: 1fr;
  }
  .article_name_container {
    display: none;
  }
}
